@import "bootstrap";

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #A9A9A9;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #A9A9A9;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* Font */
h1,h2,h3,h4,h5
{
  font-family: Times;
}


/* table */

table tr.oddrow {
    background-color: #f3f7f5;
}

table tr.evenrow {
    background-color: #f5f5dc;
}

th
{
  background-color:RosyBrown;
  border:1px solid #a9a9a9;
  color:white;
}

td{
   border:1px solid #a9a9a9;
}

/* fd line */
.fd{
   border-bottom: 2.5px solid rgb(0,136,204);
}

h1
{
  color: #20B2AA;
}
h3
{
  color: #87CEFA;
}

h4
{
  color: #FFA500;
}

strong{
  font-family: Times;
}

/* label */
label.required:after{
content: " *";
color: red;
cursor: help;
}
